<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel box box-primary">
      <div class="box-header">
        <h4 class="box-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Filtros
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="box-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="inputNome" class="control-label">Nome</label>
              <div>
                <input type="text" 
                        [(ngModel)]="nome"
                        name="nome" 
                        class="form-control" 
                        id="inputNome">
              </div>
            </div>
            <div class="form-group col-sm-2">
              <label for="inputStatus" class="control-label">Status</label>
                <div>
                  <select  
                      class="form-control select2" 
                      [(ngModel)]="ativo"
                      name="status"
                      id="inputStatus"
                      style="width: 100%;">
                      <option value="true">Ativo</option>
                      <option value="false">Inativo</option>
                    </select>
                </div>          
            </div>        
            <div class="form-group col-sm-4" style="margin-top: 24px;">
              <button class="btn btn-primary" (click)="filter()">
                <i class="fa fa-filter"></i>
                Filtrar
              </button>
              <button class="btn btn-default" (click)="cleanFilter()">
                Limpar Filtros
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Lista de Clientes</h3>
        <div class="box-tools">
          <button class="btn btn-primary" [routerLink]="['/novo']">
            <i class="fa fa-plus"></i>
            Novo
          </button>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Momento do Cadastro</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>

          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.idCliente}}</td>
            <td>{{cliente.nome}}</td>
            <td>
              <div *ngIf="cliente.cnpj == null">
                {{cliente.cpf | cpf}}
              </div>
              <div *ngIf="cliente.cpf == null">
                {{cliente.cnpj | cnpj}}
              </div>                
          </td>
            <td>{{cliente.dataCriacao | date:"dd/MM/yyyy HH:mm:ss"}}</td>              
            <td>
              <div *ngIf="cliente.ativo == true">
                <span class="badge bg-light-blue">Ativo</span>
              </div>
              <div *ngIf="cliente.ativo == false">
                <span class="badge bg-red">Inativo</span>
              </div>                
            </td>
            <td>
              <div>
                <button type="button" class="btn btn-success btn-flat" title="Visualizar" (click)="detail(cliente.idCliente)">
                  <i class="fa fa-eye"></i>
                </button>
                <button type="button" class="btn btn-primary btn-flat" title="Editar" (click)="edit(cliente.idCliente)">
                  <i class="fa fa-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger btn-flat" title="Excluir" (click)="delete(cliente.idCliente)">
                  <i class="fa fa-close"></i>
                </button>
              </div>              
            </td>
            <div class="modal fade" id="modal-default">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Exclusão de Clientes</h4>
                  </div>
                  <div class="modal-body">
                    <p>Confirma a exclusão do cliente selecionado?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="delete(cliente.idCliente)" data-dismiss="modal">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
