<section class="content">
  <div style="margin: 0 auto; width: 60%;">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Novo Cliente</h3>
      </div>
      <div class="box-body">
        <form role="form" #form="ngForm" (ngSubmit)="onCreate()" novalidate>
          <div [ngClass]="classCss" role="alert" *ngIf="message">
            <strong>{{ message.text }}</strong>
          </div>
          <div class="form-group" [ngClass]="getFormGroupClass(tipo.invalid,tipo.dirty)">
            <label for="selectTipo">Tipo de Pessoa</label>
            <select id="selectTipo" 
                    name="tipo" 
                    class="form-control select2" 
                    [(ngModel)]="tipo"
                    style="width: 100%;"
                    required>
              <option value="1">Pessoa Física</option>
              <option value="2">Pessoa Jurídica</option>
            </select>
            <span class="help-block" *ngIf="tipo.invalid && tipo.dirty">Tipo de Pessoa é requerido</span>
          </div>
          <div class="row">
            <div *ngIf="tipo == 1">
              <div class="form-group col-md-6" [ngClass]="getFormGroupClass(cpf.invalid,cpf.dirty)">
                <label for="inputCpf">CPF</label>
                <input type="text" 
                      [(ngModel)]="cpf"
                      name="cpf" 
                      class="form-control" 
                      id="inputCpf" 
                      placeholder="CPF" 
                      required>
                      <span class="help-block" *ngIf="cpf.invalid && cpf.dirty">CPF é requerido</span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputRg">RG</label>
                <input type="text" 
                       [(ngModel)]="rg"
                       class="form-control" 
                       id="inputRg" 
                       name="rgIe" 
                       placeholder="RG">
              </div>
            </div>
            <div *ngIf="tipo == 2">
              <div class="form-group col-md-6" [ngClass]="getFormGroupClass(cpf.invalid,cpf.dirty)">
                <label for="inputCnpj">CNPJ</label>
                <input type="text" 
                      [(ngModel)]="cnpj"
                      name="cnpj" 
                      class="form-control" 
                      id="inputCnpj" 
                      placeholder="CNPJ" 
                      required>
                      <span class="help-block" *ngIf="cnpj.invalid && cnpj.dirty">CNPJ é requerido</span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputIe">IE</label>
                <input type="text" 
                       [(ngModel)]="ie"
                       class="form-control" 
                       id="inputIe" 
                       name="rgIe" 
                       placeholder="IE">
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="getFormGroupClass(nome.invalid,nome.dirty)">
            <label for="inputNome">Nome</label>
            <input type="text" 
                   [(ngModel)]="nome"
                   class="form-control" 
                   id="inputNome" 
                   name="nome" 
                   placeholder="Nome" 
                   required>
                   <span class="help-block" *ngIf="cnpj.invalid && cnpj.dirty">Nome é requerido</span>
          </div>
          <div class="form-group">
            <label for="inputTelefone">Telefones</label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-phone"></i>
              </div>
              <input type="text" 
                     [(ngModel)]="telefone" 
                     class="form-control" 
                     id="inputTelefone" 
                     name="nome" 
                     placeholder="Telefone">
            </div>
          </div>
          
          <div class="box-footer">
            <button type="submit" class="btn btn-default pull-left" [routerLink]="['/lista']">
              <i class="fa fa-arrow-left"></i>
              Voltar
            </button>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary pull-right">
              <i class="fa fa-save "></i>
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
